@model Comida

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        @*Assim também não funcionando. Por quê? Porque a pasta das imagens estava como somente leitura. Retirei essa restrição e funcionou.*@
        <img src="~/images/comidas/@Model.ImagemUrl" class="img-rounded" alt="@Model.Nome" width="225" height="225" />
    </div>
    <div class="caption">
        <h3 class="pull-righ">@Model.Preco.ToString("c")</h3>
        <h3>
            <a asp-controller="Comida" asp-action="Details" asp-route-comidaId="@Model.ComidaId">@Model.Nome</a>
        </h3>
        <p>@Model.DescricaoCurta</p>
    </div>
    <div class="addToCart text-right">
        <p class="button">
            <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-comidaId="@Model.ComidaId">
                Incluir no Carrinho
            </a>
        </p>
    </div>
</div>

